@inherits LayoutComponentBase

<PageTitle>OpenAutoBench-ng</PageTitle>

<BlazoredToasts />

<div class="d-flex h-100">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="flex-grow-1">
        <div class="d-flex flex-column h-100">

            <div class="top-row px-4">
                <!--<a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>-->
            </div>

            <div class="px-4 flex-grow-1 overflow-auto">
                @Body
            </div>

        </div>
        
    </div>
</div>